{% extends 'base.html' %}
{% load static %}

{% block content %}
<main class="px-3" style="margin-top: 10%;">
    <h1>Playstore apps API</h1>
    <p class="lead">Masukan keyword APPS yang akan disearch</p>
</main>
<form role="form" method="POST" action="{% url 'playstore' %}">
    {% csrf_token %}
    <div class="mb-3 row" style="margin-top: 20%;">
        <label for="inputPassword" class="col-sm-2 col-form-label">Suggest Aplikasi :</label>
        <div class="col-sm-6">
        <input type="text" class="form-control" id="suggest" name="suggest">
        </div>
        <button style="width: 100px;" type="submit" class="btn btn-primary">Cari</button>
    </div>
</form>
{%  endblock content %}