{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-auto">
      <div>
          <h3 class="float-md-start mb-0">Detail</h3>
          <nav class="nav nav-masthead justify-content-center float-md-end">
              <a class="nav-link active" aria-current="page" href="#">{{nav}}</a>
          </nav>
      </div>
  </header>
  <main class="px-3">
      <h1>List Apps Playstore</h1>
      <p class="lead">Berikut merupakan list aplikasi yang terdapat pada playstore</p>
  </main>
  <footer class="mt-auto text-white-50">
      <p>Cover template for <a href="https://getbootstrap.com/" class="text-white">Bootstrap</a>, by <a href="https://twitter.com/mdo" class="text-white">@mdo</a>.</p>
  </footer>
</div>

  <div class="row mb-2" style="margin-top: 20px;">
    {% for i in all_item.data.results %}
    <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <h5  class="mb-0">{{i.title}}</h5>
                <div class="mb-1 text-muted">{{i.appId}}</div>
                <p class="card-text mb-auto">{{i.summary}}</p>
                <p class="card-text mb-auto text-muted">{{i.priceText}}</p>
                <p class="card-text mb-auto">Rating : {{i.scoreText}}</p>
                <a class="text-white" aria-current="page" href="https://play.google.com/store/apps/details?id={{i.appId}}">Download->></a>
            </div>
            <div class="col-auto d-none d-lg-block">
                <img width="250" height="250" src="{{i.icon}}" alt="" srcset="">
            </div>
        </div>
    </div>
    {% endfor %}
  </div>
{%  endblock content %}
