{% extends 'base.html' %}
{% load static %}

{% block content %}
<main class="px-3" style="margin-top: 10%;">
    <h1>Download Video Twitter</h1>
    <p class="lead">Link video yang dimasukan akan menghasilkan source video yang nantinya bisa langusng di download.</p>
</main>
<form role="form" method="POST" action="{% url 'download_twitter' %}">
    {% csrf_token %}
    <div class="mb-3 row" style="margin-top: 20%;">
        <label for="inputPassword" class="col-sm-2 col-form-label">Link Video :</label>
        <div class="col-sm-6">
        <input type="text" class="form-control" id="link" name="link">
        </div>
        <button style="width: 200px;" type="submit" class="btn btn-primary">Download</button>
    </div>
</form>
{%  endblock content %}